#root {
  max-width: 720px;
  background-image: linear-gradient(to left,pink,orange);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 225, 27) chocolate;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.inputUser {
  margin-bottom: 10px;
}

.buttonUser {
  margin-bottom: 5px;
}
.root::-webkit-scrollbar {
  border-radius: 8px;
}
.root::-webkit-scrollbar-thumb { border-radius: 10px; }